$PRIMARY_TURQOISE: '#4CCFE2';
$PRIMARY_PURPLE: '#93A2DD';

.button-wrapper {
    position: relative;
    display: inline-block;
    width: auto;

    .button-component {
    font-family: Poppins;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 200ms;

    &-primary {
        color: $PRIMARY_TURQOISE
    };
    &-secundary {
        color: $PRIMARY_PURPLE
    };
    }

}